body {
	background-color: #FFFFFF;
	font-family: Verdana, sans-serif;
}


.loginBox {

    width: 360px;
    /* height: 500px; */
    margin: 100px auto;
    padding: 30px 30px 50px;
   	background-color: #FFFFFF;
	border: 1px solid #EBEBEB;
	border-radius: 7px;
	box-shadow: 0 0 20px 1px #D2D7D2;


}

.cgaLogo img {
	height: 150px;
}

.loginHead {

    color: #353940;
    font-family: Tahoma, sans-serif;
    font-size: 23px;
}

.textField input, .textField textarea {
    height: 50px;
    width: 100%;
    padding: 0 10px;
    border: 1px solid #9DA3A6;
    box-sizing: border-box;
    border-radius: 5px;
    background: #FFFFFF;
    color: #000000;
    font-size: 16px;
    font-family: Helvetica,sans-serif;
 	font-weight: lighter;
}

.textField {
	margin-bottom: 20px;
	margin-bottom: 40px;
}




/* sets the padding of the top of the text box (where username starts)*/
.login-form {
	padding-top: 20px
}

.hrline {
	margin-top: 20px;
	margin-bottom: 40px;
    position: relative; 
    border: none; 
    height: 1px; 
    background: #C4CBCE; 


}

.loginButton {
	width: 100%;
    height: 50px;
    padding-top: 0;
    border: 0;
    display: block;
    background-color: #237525;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 1em;
    text-align: center;
    font-weight: 400;
    font-family: Verdana, sans-serif;
    cursor: pointer;
}






