/*
This CSS file is used by: search.php, list-projects.php, list-students.php
*/

.truncated-description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
}
a {
    color: #353940;
    text-decoration: none;
}